{% extends "main/base.html" %}
{% block content %}
<div style="text-align: center"><a href="/../" style="text-allign: 'center'"><button type="button" class="btn btn-light">Go Back</button></a></div>

<!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
       <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
       <li data-target="#carousel-example-1z" data-slide-to="1" class="active"></li>
       <li data-target="#carousel-example-1z" data-slide-to="2" class="active"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
<!--    <img src="../media/bloody_hell.jpg">-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active ">
        <img class="d-block w-100" src="../media/inst_images/steven-kamenar-MMJx78V7xS8-unsplash.jpg"
          alt="First slide">
      </div>
      <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
        <img class="d-block w-100" src="../media/inst_images/sergei-a--heLWtuAN3c-unsplash.jpg"
          alt="Second slide">
      </div>
      <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
        <img class="d-block w-100" src="../media/inst_images/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg"
          alt="Third slide">
      </div>
      <!--/First slide-->
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
</div>
<div style="text-align: center"><a href="/../" style="text-allign: 'center'"><button type="button" class="btn btn-light">Go Back</button></a></div>
{% endblock content %}
