{% extends 'main/base.html' %}
{% block content %}

<article class="media content-section">

    <div class="media-body">
        <a style="float: right;" href="/../">
            <button type="button" class="btn btn-light">Go Back</button>
        </a>
        <div class="article-metadata">
            <small class="text-muted">date</small>
        </div>
        <h2 class="article-title">post with url and images in details</a></h2>
        <p class="article-content">{% lorem %}</p>
        <a href="https://www.jetbrains.com/help/pycharm/reformat-and-rearrange-code.html#tabs_and_indents">the link</a>

    </div>
</article>
<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../media/inst_images/steven-kamenar-MMJx78V7xS8-unsplash.jpg">
                    <img src="../media/inst_images/steven-kamenar-MMJx78V7xS8-unsplash.jpg" alt="image" height="250">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../media/inst_images/sergei-a--heLWtuAN3c-unsplash.jpg">
                    <img src="../media/inst_images/sergei-a--heLWtuAN3c-unsplash.jpg" alt="image" height="250">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../media/inst_images/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg">
                    <img src="../media/inst_images/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg" alt="image" height="250">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../media/inst_images/luca-bravo-ESkw2ayO2As-unsplash.jpg">
                    <img src="../media/inst_images/luca-bravo-ESkw2ayO2As-unsplash.jpg" alt="image" height="250">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../media/inst_images/irina-iriser-2Y4dE8sdhlc-unsplash.jpg">
                    <img src="../media/inst_images/irina-iriser-2Y4dE8sdhlc-unsplash.jpg" alt="image" height="250">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../media/inst_images/filip-zrnzevic-QsWG0kjPQRY-unsplash.jpg">
                    <img src="../media/inst_images/filip-zrnzevic-QsWG0kjPQRY-unsplash.jpg" alt="image" height="250">
                </a>
            </div>
        </div>
    </div>
    <a href="/../">
        <button type="button" class="btn btn-light">Go Back</button>
    </a>
</div>

{% endblock content %}